<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Actor Manager</title>
</head>
<body>
<div align="center">
    <h1>Actor List</h1>
    <a href="/new">Create New Actor</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Actor ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Last Update</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="actor : ${listActors}">
            <td th:text="${actor.actorId}">Actor ID</td>
            <td th:text="${actor.firstName}">First Name</td>
            <td th:text="${actor.lastName}">Last Name</td>
            <td th:text="${actor.lastUpdate}">Last Update</td>
            <td th:text="${actor.status}">Status</td>
            <td>
                <a th:href="@{'/edit/' + ${actor.actorId}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${actor.actorId}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>